.box-intro {
  background-image:url(/socials/media/images/socials.gif);
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
  
.box-intro {
    text-align: center;
    display: table;
    height: 100vh;
    width: 100%;
  
    background-position: center;
 background-size: contain;
 background-repeat: no-repeat;
}

